
      <h1>Tilt</h1>
      <h2>Cocktail manager</h2>

<%= link_to "Add new cocktail", new_cocktail_path %>
<% @cocktails.each do |cocktail| %>
<%= link_to cocktail.name, cocktail_path(cocktail) %>

      <% end %>


<!--
<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/bartilt.sinchon/?hl=fr"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/bartilt.kr/"><i class="fab fa-facebook"></i></a>
  </div>
</div>
 -->
