// Specific CSS for your home-page
.cards {
    overflow: hidden;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    position: relative;
    border-top-width: 0px;

  }
  
  .card-category > img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
  
  .card-category h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  
  .card-category  p {
    font-size: 12px;
    margin: 0;
  }
  
  .card-category .card-category-infos {
    background-color: white;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    // border-top-style: solid;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
    opacity: 0.5;
  }

  