#container-ingredients {
    text-align: center;
}

.ingredients {
    text-align: center;
}

h1 {
    font-size: 50px;
    color: #280F1C;;
    font-family: Pacifico;
}

h2 {
    font-size: 30px;
    color: #280F1C;;
    font-family: Pacifico;
}

.list {
    color: black;
    font-size: 25px;
}

img {
    border-radius: 4px;
}

#add-ingredient {
    text-decoration: none;
    color: #280F1C;
}