.navbar-lewagon {
  justify-content: space-between;
  background: #280F1C;
  display: flex;
  color: white;
}

.navbar-lewagon h3 {
  color: white;
  font-family: "Pacifico";
  font-size: 50px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
  border-radius: 20px;
  position: relative;
  color: white;
  margin-left: 24px;
  
}
.logo {
  display: flex;
  align-items: center;
}
